body {
    /* background-color: #4C0027; */
    background-color: #1f306e;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

hr {
    margin: 1rem 0;
    /* border: 1px solid #980F5A; */
    border: 2px solid #8f3b76;
}

h1, p, .email-link {
    font-family: "Times New Roman", Times, serif !important;
    color: whitesmoke;
}

.email-link {
    margin-right: 14rem;
}

.main-container {
    margin: 6rem 0;
}

.nav-container {
    font-family: "Times New Roman", Times, serif !important;
    margin-bottom: 2rem;
    position: fixed; /* Fix navbar at the top */
    top: 10px; /* Space from top */
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 10px 20px;
    border-radius: 15px; /* Pill shape */
    z-index: 1000;
    transition: background 0.3s ease-in-out, box-shadow 0.3s;
}

.nav-container.scrolled {
    background: rgba(152, 15, 90, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-container .nav {
    display: flex;
    padding: 5px;
}

.nav-link {
    color: whitesmoke !important;
    padding: 0 30px;
    transition: background 0.3s ease-in-out;
}

.nav-link .active {
    background: whitesmoke !important;
    /* color: #980F5A !important; */
    color: #974063 !important;
}

.index-image {
    margin-right: 1.5rem;
    width: 100px;
    height: 100px;
    /* background-color: #980F5A; */
    background-color: #c7417b;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    overflow: hidden;
    z-index: 0;
}

.index-image .portrait-image {
    position: absolute;
    width: 100px;
    height: 120px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.index-image .portrait-image:hover {
    transform: translateY(-20px);
}

.index-intro, .about-content, .gallery-content {
    margin: 0 auto;
    max-width: 475px;
}

.bi-envelope-fill, .bi-file-earmark-person-fill {
    color: whitesmoke;
    font-size: 15px;
}

.bi-envelope-fill, .bi-file-earmark-person-fill {
    margin: 0 0.5rem 0 0.5rem;
}

.bi-linkedin, .bi-github, .bi-discord{
    color: whitesmoke;
    font-size: 20px;
    margin: 0 10px;
}

.index-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
}

.btn-skills {
    border: none;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-skills:hover {
    opacity: 0.8;
}

.hardware { background-color: #fa7343; }
.networking { background-color: #3572A5; }
.electronics { background-color: #b59b00; }
.arduino { background-color: #606060; }
.python { background-color: #f34f29; }
.html { background-color: #b58c00; }
.css { background-color: #007aff; }
.bootstrap { background-color: #2583a5; }
.javascript { background-color: #1e7d50; }
.sqlalchemy { background-color: #4c4c4c; }
.mongodb { background-color: #2e7d32; }
.sqlite { background-color: #3d6cbf; }
.figma { background-color: #6d26a5; }

.buttons {
    --color: #8f3b76;
    font-family: "Times New Roman", Times, serif !important;
    text-align: center;
    width: 7em;
    height: 2.5em;
    line-height: 2em;
    overflow: hidden;
    cursor: pointer;
    margin: 1rem 0 5px 0;
    font-size: 12px;
    z-index: 1;
    color: whitesmoke;
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
.buttons::before {
    position: absolute;
    content: "";
    background: #c7417b;
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}
  
.buttons:hover {
    color: white;
}
  
.buttons:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}
  
.buttons:hover::before {
    top: -30px;
    left: -30px;
}

.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .caption {
    opacity: 1;
}

.modal-dialog {
    margin: 100px auto;
    max-width: 700px;
}

#modalDesc {
    color: black;
    font-size: 14px;
    margin: 1.5rem auto;
    max-width: 600px;
}

/* MEDIA QUERIES for Mobile */
@media (max-width: 768px) {
    .nav-container {
        max-width: 100%;
        padding: 5px;
    }

    .nav-link {
        font-size: 0.9rem;
        padding: 5px;
    }

    .main-container {
        margin: 4rem auto;
        max-width: 85%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .index-container {
        margin: 1rem auto;
    }

    .index-image {
        width: 100px;
        height: 100px;
    }

    .index-content {
        width: 60%;
    }

    h1 {
        font-size: 2rem;
    }

    .gallery-item {
        max-width: 180px;
    }

    .buttons {
        font-size: 12px;
    }
}

/* MEDIA QUERIES for Extra Small Devices */
@media (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 0.8rem;
    }

    .gallery-item {
        max-width: 160px;
    }

    .buttons {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    body {
        width: 145%;
    }
}